.swiper {
    width: 600px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: center;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
}



.swiper-button-next::after {
    content: '';
    right: -5px;
    width: 75px;
    height: 75px;
    background-image: url('../../img/skills/Button-R.svg');
    background-repeat: no-repeat;
    z-index: 100;
    position: absolute;
    right: -12px;
}

.swiper-button-prev::after {
    content: '';
    right: -5px;
    width: 75px;
    height: 75px;
    background-image: url('../../img/skills/Button-L.svg');
    background-repeat: no-repeat;
    z-index: 100;
    position: absolute;
    left: -10px;
}


.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
}


.swiper-el {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    width: 144px;
}

.swiper-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 131%;
}

@media (max-width: 700px) {
    .swiper {
        width: 400px;
        display: flex;
        align-items: center;
        column-gap: 10px;
        justify-content: center;
    }

    .swiper-el {
        row-gap: 10px;
        width: 120px;
    }

    .swiper-title {
        font-weight: 500;
        font-size: 22px;
        line-height: auto;
    }

    .swiper-button-next img {
        width: 40px;
        height: 40px;
    }

    .swiper-button-next::after {
        width: 40px;
        height: 40px;
        background-image: url('../../img/skills/Button-R2.png');
        right: -10px;
    }

    .swiper-button-prev::after {
        width: 40px;
        height: 40px;
        background-image: url('../../img/skills/Button-L2.png');
    }



}

@media (max-width: 480px) {
    .swiper {
        width: 300px;
        display: flex;
        align-items: center;
        column-gap: 10px;
        justify-content: center;
    }

    .swiper-el {
        row-gap: 10px;
        width: 90px;
    }

    .swiper-title {
        font-weight: 500;
        font-size: 22px;
        line-height: auto;
    }

    .swiper-button-next img {
        width: 40px;
        height: 40px;
    }

    .swiper-button-next::after {
        width: 40px;
        height: 40px;
        background-image: url('../../img/skills/Button-R2.png');
        right: -10px;
    }

    .swiper-button-prev::after {
        width: 40px;
        height: 40px;
        background-image: url('../../img/skills/Button-L2.png');
    }



}