.header {
    background: var(--color-bg1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.021);
    padding: 25px 0px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 500;
    font-size: 32px;
    line-height: 131%;
    color: var(--color-brand1);
}

.pages__list {
    display: flex;
    column-gap: 32px;
}

.pages__item {
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: var(--color-white);
    font-family: var(--font-family-IBM);

    &:hover {
        color: var(--color-brand1);
    }
}

.social__list {
    display: flex;
    column-gap: 32px;
}

.social__item {
    font-family: var(--font-family-IBM);
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: var(--color-brand1);

    &:hover {
        text-decoration: underline;
    }
}

@media (max-width: 1280px) {
    .logo {
        font-weight: 500;
        font-size: 32px;
        line-height: 131%;
        color: var(--color-brand1);
    }

    .pages__list {
        column-gap: 32px;
    }

    .pages__item {
        font-weight: 400;
        font-size: 24px;
        line-height: 133%;
    }

    .social__list {
        column-gap: 32px;
    }

    .social__item {
        font-weight: 400;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .logo {
        font-weight: 400;
        font-size: 24px;
        line-height: 133%;
    }

    .pages__list {
        column-gap: 32px;
    }

    .pages__item {
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
    }

    .social__list {
        column-gap: 32px;
    }

    .social__item {
        font-weight: 400;
        font-size: 14px;
        line-height: 125%;
    }
}

@media (max-width: 600px) {
    .header {
        display: none;
    }
}
