a,
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: var(--transition-duration);
}

body {
    font-family: var(--font-family-ubuntu);
}

.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding-x);
    margin: 0 auto;
}

.header__container {
    max-width: var(--header-container-width);
    padding: 0 var(--container-padding-x);
    margin: 0 auto;
}

@media (max-width: 520px) {
    .header__container {
        padding: 0px 10px;
    }
}

.pages__item {
    font-weight: 200;
    font-size: 24px;
    line-height: 133%;
    color: var(--color-white);
    font-family: var(--font-family-IBM);

    &:hover {
        color: var(--color-brand1);
    }
}

.pages__active {
    p {
        text-decoration: underline;
        font-weight: 400;
    }
    font-size: 24px;
    line-height: 133%;
    font-family: var(--font-family-IBM);
    color: var(--color-brand1);
}

@media (max-width: 1280px) {
    .pages__item {
        font-size: 24px;
        line-height: 133%;
    }

    .pages__active {
        font-size: 24px;
        line-height: 133%;
    }
}

@media (max-width: 768px) {
    .pages__item {
        font-size: 16px;
        line-height: 133%;
    }

    .pages__active {
        font-size: 16px;
        line-height: 133%;
    }
}

@media (max-width: 520px) {
    .pages__item {
        font-size: 15px;
        line-height: 133%;
    }

    .pages__active {
        font-size: 15px;
        line-height: 133%;
    }
}
