a,
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: var(--transition-duration);
}

body {
    font-family: var(--font-family-ubuntu);
}

.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding-x);
    margin: 0 auto;
}

.header__container {
    max-width: var(--header-container-width);
    padding: 0 var(--container-padding-x);
    margin: 0 auto;
}
