:root {
    --container-width: 1288px;
    --header-container-width: 1544px;
    --container-padding-x: 35px;

    --font-family-ubuntu: 'Ubuntu', sans-serif;
    --font-family-IBM: 'IBM Plex Mono', monospace;
    --font-family: 'Inter', sans-serif;
    --font-family: 'Inter', sans-serif;

    --color-bg1: #292f36;
    --color-bg2: #1a1e23;

    --color-brand1: #12f7d6;
    --color-brand2: #98faec;

    --color-grey: #43454d;
    --color-white: #ffffff;

    --transition-duration: 0.2s;
}
