.footer {
    padding: 64px 0px;
    background-color: var(--color-bg1);
}

.title {
    font-weight: 400;
    font-size: 64px;
    line-height: 112%;
    color: var(--color-brand1);
    text-align: center;
    margin-bottom: 38px;
}

.message {
    border: 2px solid var(--color-brand1);
    border-radius: 32px 0;
    padding: 16px 40px;
    font-weight: 500;
    font-size: 32px;
    line-height: 131%;
    text-transform: capitalize;
    text-align: center;
    color: var(--color-brand1);
    width: 550px;
    font-family: var(--font-family-IBM);
    margin: 0 auto;
    margin-bottom: 84px;
}

.form__row {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

.form__item {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.form__title {
    font-weight: 300;
    font-size: 16px;
    line-height: 112%;
    color: var(--color-brand1);
}

.form__input {
    color: var(--color-white);
    font-weight: 300;
    font-size: 16px;
    line-height: 112%;
    border-bottom: 1px solid var(--color-brand2);
    width: 496px;
    padding-bottom: 8px;

    &::placeholder {
        font-weight: 300;
        font-size: 16px;
        line-height: 112%;
    }
}

.form__input__full {
    color: var(--color-white);
    font-weight: 300;
    font-size: 16px;
    line-height: 112%;
    border-bottom: 1px solid var(--color-brand2);
    padding-bottom: 8px;
    margin-bottom: 64px;
    width: 100%;

    &::placeholder {
        font-weight: 300;
        font-size: 16px;
        line-height: 112%;
    }
}

.form__width {
    width: 500px;
}

textarea {
    resize: none;
}

.form__button {
    display: flex;
    column-gap: 16px;
    align-items: center;

    border-radius: 32px;
    padding: 16px 32px;
    background: var(--color-brand1);
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: var(--color-bg1);

    margin: 0 auto;

    &:hover {
        background-color: #0dc9ac;
    }

    &:active {
        position: relative;
        top: 2px;
        background-color: #0dc9ac;
    }

    &:disabled {
        cursor: not-allowed;
        background-color: #57867f;
    }
}

.input__error {
    border: 1px solid red;
    padding: 8px;
}

@media (max-width: 1110px) {
    .footer {
        padding: 64px 0px;
    }

    .title {
        font-size: 64px;
        line-height: 112%;
        margin-bottom: 38px;
    }

    .message {
        padding: 16px 40px;
        font-weight: 500;
        font-size: 32px;
        line-height: 131%;
        width: 550px;
        margin-bottom: 84px;
    }

    .form__row {
        column-gap: 10px;
    }

    .form__item {
        row-gap: 24px;
    }

    .form__title {
        font-weight: 300;
        font-size: 16px;
        line-height: 112%;
    }

    .form__input {
        font-weight: 300;
        font-size: 16px;
        line-height: 112%;
        width: 300px;
        padding-bottom: 8px;

        &::placeholder {
            font-weight: 300;
            font-size: 16px;
            line-height: 112%;
        }
    }

    .form__input__full {
        color: var(--color-white);
        font-weight: 300;
        font-size: 16px;
        line-height: 112%;
        border-bottom: 1px solid var(--color-brand2);
        padding-bottom: 8px;

        margin-bottom: 64px;
        &::placeholder {
            font-weight: 300;
            font-size: 16px;
            line-height: 112%;
        }
    }

    .form__button {
        display: flex;
        column-gap: 16px;
        align-items: center;

        border-radius: 32px;
        padding: 16px 32px;
        background: var(--color-brand1);
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        color: var(--color-bg1);

        margin: 0 auto;

        &:hover {
            background-color: #0dc9ac;
        }
    }

    .input__error {
        border: 1px solid red;
        padding: 8px;
    }

    .form__width {
        width: 320px;
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 64px 0px;
    }

    .title {
        font-size: 64px;
        line-height: 112%;
        margin-bottom: 38px;
    }

    .message {
        padding: 14px 36px;
        font-weight: 500;
        font-size: 28px;
        line-height: 131%;
        width: 350px;
        margin-bottom: 84px;
    }

    .form__row {
        column-gap: 10px;
    }

    .form__item {
        row-gap: 24px;
    }

    .form__title {
        font-weight: 300;
        font-size: 16px;
        line-height: 112%;
    }

    .form__input {
        font-weight: 300;
        font-size: 16px;
        line-height: 112%;
        width: 176px;
        padding-bottom: 8px;

        &::placeholder {
            font-weight: 300;
            font-size: 16px;
            line-height: 112%;
        }
    }

    .form__input__full {
        color: var(--color-white);
        font-weight: 300;
        font-size: 16px;
        line-height: 112%;
        border-bottom: 1px solid var(--color-brand2);
        padding-bottom: 8px;

        margin-bottom: 64px;
        &::placeholder {
            font-weight: 300;
            font-size: 16px;
            line-height: 112%;
        }
    }

    .form__button {
        display: flex;
        column-gap: 16px;
        align-items: center;

        border-radius: 32px;
        padding: 16px 32px;
        background: var(--color-brand1);
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        color: var(--color-bg1);

        margin: 0 auto;

        &:hover {
            background-color: #0dc9ac;
        }
    }

    .input__error {
        border: 1px solid red;
        padding: 8px;
    }

    .form__width {
        width: 100%;
    }
}

@media (max-width: 460px) {
    .footer {
        padding: 64px 0px;
    }

    .title {
        font-size: 48px;
        line-height: 112%;
        margin-bottom: 38px;
    }

    .message {
        padding: 10px 30px;
        font-weight: 500;
        font-size: 21px;
        line-height: 131%;
        width: 250px;
        margin-bottom: 84px;
    }

    .form__row {
        column-gap: 20px;
    }

    .form__item {
        row-gap: 24px;
    }

    .form__title {
        font-weight: 300;
        font-size: 16px;
        line-height: 112%;
    }

    .form__input {
        font-weight: 300;
        font-size: 16px;
        line-height: 112%;
        width: 135px;
        padding-bottom: 8px;

        &::placeholder {
            font-weight: 300;
            font-size: 16px;
            line-height: 112%;
        }
    }

    .form__input__full {
        color: var(--color-white);
        font-weight: 300;
        font-size: 16px;
        line-height: 112%;
        border-bottom: 1px solid var(--color-brand2);
        padding-bottom: 8px;

        margin-bottom: 64px;
        &::placeholder {
            font-weight: 300;
            font-size: 16px;
            line-height: 112%;
        }
    }

    .form__button {
        display: flex;
        column-gap: 16px;
        align-items: center;

        border-radius: 32px;
        padding: 14px 28px;
        background: var(--color-brand1);
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        color: var(--color-bg1);

        margin: 0 auto;

        &:hover {
            background-color: #0dc9ac;
        }
    }

    .input__error {
        border: 1px solid red;
        padding: 8px;
    }
}
